/* 
#antBoard, #elemBoard, #lifeBoard, #blankBoard {
    border: 1px solid black;
}
*/

html, body {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}


#eid { 
    font-size: 3em;
}


#menu {
    width: 20%;
    position: absolute;
    top: 0;
    right: 0;
    background-color: white;
    }


.box { 
    /* display: inline-block; */
}


