/* 
#antBoard, #elemBoard, #lifeBoard, #blankBoard {
    border: 1px solid black;
}
*/

html, body {
    margin: 0;
    padding: 0;
}


#eid { 
    font-size: 3em;
}


.box { 
    /* display: inline-block; */
    margin: 15px 100px;
    padding: 10px;
    text-align: center;
    float: left;
}

.box div {
    padding: 5px;
}



#controls {
    position: fixed;
    right: 6%;
    top: 4%;
    padding: 1%;
    cursor: pointer;
    height: 5%;
    width: 4%;
    background: white;
}




#scrollable {
    overflow: auto;
    width: 100%;
    height: 500px;
    }

#items {
    width: 5000px;
}


.next {
    background-color: white;
    padding: 10px;
    position: absolute;
    left: 2%;
    top: 2%%;

}
