
#antBoard, #elemBoard, #lifeBoard {
    border: 1px solid black;
}


#eid { 
    font-size: 3em;
}



#controls {
    position: fixed;
    right: 6%;
    top: 4%;
    background: white;
    padding: 1%;
    cursor: pointer;
}