/* 
#antBoard, #elemBoard, #lifeBoard, #blankBoard {
    border: 1px solid black;
}
*/

#pause, #play {
    display: none;
}

html, body {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
    padding: 0;
    padding-top: 10px
    margin: 0;
    margin-left: 20px;
}

li {
    padding-top: 5px;
}


#eid { 
    font-size: 3em;
}




#menu {
    margin-top: 10px;
    width: 15%;
    position: absolute;
    top: 2%;
    right: 2%;
    background-color: white;
    background:rgba(255,255,255,0.95);
    font-family: courier;
    font-size: .7em;
    padding: 30px;
    }


.box { 
    /* display: inline-block; */
}



#modify-options {
    display: none;
}


