/* 
#antBoard, #elemBoard, #lifeBoard, #blankBoard {
    border: 1px solid black;
}
*/

html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

ul {
    list-style-type: none;
    padding: 0;
    padding-top: 10px
    margin: 0;
    margin-left: 20px;
}

li {
    padding-top: 5px;
    padding-left: 8px;
    border-left: 3px solid transparent;
    transition: border-color 0.2s, background-color 0.2s;
}

li.active {
    border-left: 3px solid #333;
    background-color: rgba(0, 0, 0, 0.07);
}


#eid { 
    font-size: 3em;
}




#menu {
    margin-top: 10px;
    width: 15%;
    position: absolute;
    top: 2%;
    right: 2%;
    background-color: white;
    background:rgba(255,255,255,0.95);
    font-family: courier;
    font-size: .7em;
    padding: 16px;
    border: 4px solid #999;
    
    }


#controls {
    display: flex;
    gap: 4px;
    margin-top: 12px;
}

#controls > div {
    flex: 1;
    text-align: center;
    padding: 6px 0;
    font-size: 1.4em;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 3px;
    user-select: none;
    transition: background-color 0.15s;
}

#controls > div:hover {
    background-color: rgba(0, 0, 0, 0.08);
}

#controls > div:active {
    background-color: rgba(0, 0, 0, 0.15);
}

.box {
    /* display: inline-block; */
}



