/* 
#antBoard, #elemBoard, #lifeBoard, #blankBoard {
    border: 1px solid black;
}
*/

#pause, #play {
    display: none;
}

html, body {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
    padding: 0;
    padding-top: 10px
    margin: 0;
    margin-left: 20px;
}

li {
    padding-top: 5px;
    padding-left: 8px;
    border-left: 3px solid transparent;
    transition: border-color 0.2s, background-color 0.2s;
}

li.active {
    border-left: 3px solid #333;
    background-color: rgba(0, 0, 0, 0.07);
}


#eid { 
    font-size: 3em;
}




#menu {
    margin-top: 10px;
    width: 15%;
    position: absolute;
    top: 2%;
    right: 2%;
    background-color: white;
    background:rgba(255,255,255,0.95);
    font-family: courier;
    font-size: .7em;
    padding: 16px;
    border: 4px solid #999;
    
    }


.box { 
    /* display: inline-block; */
}



#modify-options {
    display: none;
}


