/* 
#antBoard, #elemBoard, #lifeBoard, #blankBoard {
    border: 1px solid black;
}
*/

#pause, #play {
    display: none;
}

html, body {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
    padding: 0;
    padding-top: 10px
    margin: 0;
    font-size: .8em;
    font-family: courier;
}

li {
    padding-top: 5px;
}


#eid { 
    font-size: 3em;
}


#menu {
    width: 20%;
    position: absolute;
    top: 0;
    right: 0;
    background-color: white;
    }


.box { 
    /* display: inline-block; */
}


